body{
    width: 100%;
    background-color: rgb(250, 248, 248);
    height: 200vh;
}
*{
    margin: 0px;
    padding: 0px;
}

.curve{
    width: 100%;
    height: 600px;
    background-color: rgb(254 202 11)
}
.phone-box{
    width: 300px;
    height: 420px;
    background-color: rgb(247, 247, 247);
    justify-content: center;
    /* border-radius: 10px; */
    /* background-color: rgb(255, 255, 255); */
    display: flex;
    -webkit-overflow-scrolling:touch ;
 overflow-y: scroll;
    /* justify-content: space-evenly; */
    align-items: center; 
    overflow-x: hidden;
    flex-direction: column;
    /* position: relative; */
}
.box22{
    width: 320px;
    height: 600px;
 background-color: rgb(10, 186, 186); 
 position: relative;
 bottom: 570px;
 left: 700px;
 display: flex;
 align-items: center;
 justify-content: space-evenly;
 box-shadow: -2px 0px 9px -6px rgba(58, 55, 55, 0.12),
 0px 2px 2px 0px rgba(0,0,0,0.12),
 0px 4px 4px 0px rgba(0,0,0,0.12),
 0px 8px 8px 0px rgba(0,0,0,0.12),
 0px 16px 16px 0px rgba(246, 244, 244, 0.12);
 border-radius: 10px;
 flex-direction: column;
}

.phone-box2{
    width:300px;
    height: 490px;
    /* background-color: #a91717; */
    border-radius:10px;
    position: relative;
    /* box-shadow: 0 1px 2px rgba(0,0,0,0.07), 0 2px 4px rgba(0,0,0,0.07), 0 4px 8px rgba(0,0,0,0.07), 0 8px 16px rgba(0,0,0,0.07), 0 16px 32px rgba(0,0,0,0.07), 0 32px 64px rgba(0,0,0,0.07); */
}
.navbar{
  width: 300px;
  height: 50px;
    background-color: rgb(253, 253, 253);
    display: flex;
    border-radius: 10px 10px 0 0;
    /* position:absolute; */
    /* position: fixed; */
    /* z-index: 20; */
    
}

.navimg{
    width: 103px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: green; */
}
.location{
    width: 200px;
    height: 45px;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;  
}
.container1{
    /* width: 100%; */
    height: 500px;
    background-color: rgb(121, 35, 35);
    /* overflow-x: scroll; */
    display: flex;
    justify-content: center; 
    align-items: center;
    /* overflow-y: hidden; */
    /* z-index: 9999;    */

    
}
.offerimg{
    
    border-radius: 10px;
    width: 100px;
    height: 130px;
    background-color: #f1592a;
    /* position: relative; */
    /* left: 290px; */
   
}
::-webkit-scrollbar{
    display: none;
}
.searchbox{
    width: 100%;
    height: 70px;
    /* background-color: gray; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 13px;
}
.searchbox1{
    width: 250px;
    height: 30px;
    border-radius: 5px;
    border: solid 1px rgb(237, 229, 229);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}
.searchicon{position: relative;
    right: 40px;

}
.container2{
    width: 100%;
    height: 125px;
    background-color: rgb(86, 155, 52);
    display: flex;
    -webkit-overflow-scrolling:touch ;
    overflow-x: scroll;
    justify-content: space-evenly;
    align-items: center;
    overflow-y: hidden;
    
    
}
.text1{
    width: 100%;
   height: 35px;
   /* background-color: blue; */
}
.text11{
    color: chocolate;
    font-weight: 20px;
    text-align: center;
   
}
.foodimg{
    margin-left: 10px;
    margin-right: 3px;
    border-radius: 10px;
}
.tename{
    width: 100%;
    height: 20px;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}
.overflow{
    width: 100%;
    /* height: 1000px; */
    background-color: rgb(255, 255, 255);
    display: flex;
    -webkit-overflow-scrolling:touch ;
 overflow-y: scroll;
    /* justify-content: space-evenly; */
    /* background-color: rgb(79, 16, 16); */
    align-items: center; 
    overflow-x: hidden;
    flex-direction: column;
    /* position: relative; */
    /* padding-top: 100px; */
    
}
.sudhi{
    width: 100%;
    background-color: #f1592a;
    display: flex;
    /* overflow-x: scroll; */
}
.hotelname{
    width: 100%;
    height: 110px;
    /* background-color: brown; */
    display: flex;
    flex-direction: row;
}

.hotelimg{
    width: 160px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: blue; */
}
.a{
    width: 200px;
    height: 100px;
    /* background-color: chartreuse; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
.aa{
    width: 250px;
    height: 50px;
    /* background-color: burlywood; */
    display: flex;
    flex-direction: column;
    position: relative;
    left: 25px;
    /* align-items: start;
    justify-content: center; */
    font-size: 9px;

}
.aaa{
    width: 50%;
    height: 50px;
    /* background-color: red; */
    font-size: 6px;
}
.ab{
    width: 250px;
    height: 50px;
    /* background-color: burlywood; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: relative;
  right: 13px;
    font-size: 13px;
}  
.size{
    font-size: 10px;
    padding: 0px;
    text-align:start ;
    position: relative;
    left: 10px;
}
.exclusive{
    
    left: 150px;
    bottom: 60px;display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    right: 20px;
  
    bottom: 21px;
}
.hot{
    width: 100%;
    height: 120vh;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
.class{
    width: 90%;
    height: 0px;
    /* background-color: blue; */
    border-bottom: 1px solid grey;
   
}
.scroolimg{
    width: 250%;
    height: 150px;
    /* background-color: rgb(152, 152, 194); */
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    position: relative;
    left: 110px;
}
.xxx{
    width: 120px;
    height: 110px;
    border-radius: 7px;
    margin-left: 5px;
    margin-right: 5px;
    position: relative;
    left: 230px;
}
.xx{
    width: 100%;
    height: 150px;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.x{
    width: 100%;
    height: 110px;
    /* background-color:black ; */
    display: flex;
    align-items: center;
    justify-content: center;
 
}
.x1{
    width: 40%;
    height: 110px;
    /* background-color: blueviolet; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.x2{
    width: 60%;
    height: 110px;
    /* background-color: beige; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.x3{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: chocolate; */
    flex-direction: column;
    font-size: 10px;
    text-align: start;
 
}
.x4{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(32, 20, 12);  */
    font-size: 10px;
}
.bn{
    width: 96%;
    height: 10px;
    /* background-color: blue; */
    border-bottom: 1px solid grey;
}
.x33{
    width: 100%;
    height: 50px;
    display: flex;
   flex-direction: column;
    font-size: 10px;
   align-items: start;
}
.navbar22{
    width: 95%;
    height: 70px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    /* position: fixed; */
    /* z-index: 100px; */
    border-radius: 10px;
}
.fiveicon{
    width: 20%;
    height: 70px;
    /* background-color: blue; */
    width: 20%;
    height: 70px;
    /* background-color: rgb(22, 57, 57); */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.fiveicon2{
    width: 20%;
    height: 70px;
    /* background-color: rgb(22, 57, 57); */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.fiveicon3{
    width: 20%;
    height: 70px;
    /* background-color: rgb(1, 22, 22); */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.fiveicon4{
    width: 20%;
    height: 70px;
    /* background-color: rgb(23, 176, 92); */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.fiveicon5{
    width: 20%;
    height: 70px;
    /* background-color: rgb(125, 22, 22); */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.ooo{
    width: 100%;
    height: 70px;
    /* background-color: rgb(155, 23, 23); */
    position: fixed;
    z-index: 5px;
    display: inline-flex;
}
.abcd{
    width: 100%;
    height:400vh ;
    /* background-color: chartreuse; */
    position: relative;
    /* display: flex; */
    /* align-items: center;
    justify-content: space-evenly;
    flex-direction: column; */
}
.zzz{
    width:600px;
    height: 400px;
    /* background-color: red; */
    position: relative;
    bottom: 1100px;
    left: 50px;
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    flex-direction: column;
}
.bnm{
    font-size: 3.1rem;
   font-weight: 900;
   color: #424242;
}
.mmm{
    color: #424242;
    font-size: 1.1rem;
    font-weight: 400;
}
.iii:hover{
    height: 4.5rem;
    width: 200px;
    background-color: #f1592a;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    color: #fff;
    border-radius: 0.275rem;
    line-height: 4rem;
    -webkit-transition: .2s linear all;
    -o-transition: .2s linear all;
    transition: .2s linear all;
    border: none;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.hoo{
    width: 100%;
    height: 350px;
    background-color: bisque;
    position: relative;
    bottom: 900px;
    background-color: rgb(252, 250, 250);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
   
}
.sss{
    width: 100%;
    height: 300px;
    background-color: yellow;
    position: relative;
    bottom: 900px;
}
.hjk{
    width: 160px;
    height: 150px;
    background-color: #f0ecec;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
   
}
.kooo{
    width: 100%;
    height: 50px;
    background-color: #f1592a;
    display: flex;
}